.book__container {
    padding: 0.5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container__book {
    padding: 1rem;
    border-left: 3px solid #ffc400;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    @media (min-width: 30rem) {
        width: 100%;
    }
    @media (min-width: 40rem) {
        width: 41%;
    }
    @media (min-width: 56rem) {
        width: 44.2%;
    }

    width: 100%;
}

.filterSearch {
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    :focus {
        border: none !important;
    }
}

.filter__container__input {
    border: none;
    width: 46%;
    font-size: 14px;
    border-bottom: 1px solid #2f4c6a;
    padding: 7px;
}

input:focus {
    outline: none;
}
